<div class="jumbotron">
  <h1>Streak</h1>
  <p>For those of you who want to keep track of everything.</p>
</div>

<div class="row features">
  <div class="col-sm-4 text-center">
    <span class="glyphicon glyphicon-road" aria-hidden=true></span>
    <h3>Simplex</h3>
    <p>
      Simple, but complex. Have it as easy to set up as you want - a mouse click
      to start a new Streak.
    </p>
  </div>
  <div class="col-sm-4 text-center">
    <span class="glyphicon glyphicon-stats" aria-hidden=true></span>
    <h3>Analytics</h3>
    <p>
      Get the most out of your Streaks by looking through your past records -
      your analytics.
    </p>
  </div>
  <div class="col-sm-4 text-center">
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden=true></span>
    <h3>Stay Connected</h3>
    <p>
      Connect easily through social media, and post your progress stories for
      the world to see ... or don't. That's fine too.
    </p>
  </div>
</div>

<style>
.glyphicon {
  font-size: 3em;
}

.features {
  width: 45em;
  margin: auto;
}
</style>
